# 3D Portfolio Environment Configuration
VITE_RAIN_STREET_MODEL_URL=

# MongoDB & Admin Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio_db?retryWrites=true&w=majority
ADMIN_PASSWORD=your_admin_secret_password
JWT_SECRET=your_jwt_secret

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
